# OS specific
.DS_Store

# IDE specific
.idea

# Jenkins
!jenkins_home/

jenkins_home/*
!jenkins_home/jobs/
!jenkins_home/*.xml

jenkins_home/jobs/*
!jenkins_home/jobs/*/

jenkins_home/jobs/*/*
!jenkins_home/jobs/*/config.xml
